.primary-color{
    background-color: #4354fd !important;
}
.primary-text-color{
    color: #4354fd !important;
}
.success-color{
    background-color: #57cba7;
}

.secondary-color{
   background-color: #eff1f0;
}

.secondary-text-color{
    color: #eff1f0;
}
.cement-color{
    background-color: #aeafbb;
}

.warning{
    background-color: #f68904;
}
 .primary-dark-color{
     background-color: #3744dc;
 }
.cofee-color{
    background-color: #7e5c37;
  }


.dark-color{
    background-color: #191b1c;
}

.dark-text-color{
    color: #191b1c !important;
}

.dark-color-variant{
    background-color: #5e5e5e;
}

.light-color{
    background-color: #f4f4f3;
}

.light-text-color{
    color: #f4f4f3;
}

.primary-color-variant{
    background-color: #d5bdab;
}

.methi-color{
    background-color: #caa955;
}

