.primary-color{
    background-color: #c75411;
}
.primary-text-color{
    color: #c75411;
}
.secondary-color{
   background-color: #a4a4a3;
}

.secondary-text-color{
    color: #a4a4a3;
}

.dark-color{
    background-color: #191b1c;
}

.dark-text-color{
    color: #191b1c;
}

.dark-color-variant{
    background-color: #5e5e5e;
}

.light-color{
    background-color: #f4f4f3;
}

.light-text-color{
    color: #f4f4f3;
}

.primary-color-variant{
    background-color: #d5bdab;
}

.cofee-color{
    background-color: #51371e;
}

.methi-color{
    background-color: #ba9953;
}

